.dropdown {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.data-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.loading-container {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
