.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #001529;
  color: #fff;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.user-details {
  margin-left: 20px;
  width: 130px;
}

.user-name {
  margin: 0;
  font-weight: bold;
}

.user-role {
  margin: 0;
  font-size: 12px;
  color: #ccc;
}

.ant-input {
  border-radius: 20px;
}

.ant-input:hover,
.ant-input:focus {
  border-color: #181cff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ant-input-suffix svg {
  color: #1890ff;
}

.ant-input-placeholder {
  color: #ccc;
}

.ant-input-focused {
  background-color: #fff;
}

.files-slider {
  position: absolute;
  top: 52px;
  left: 10px;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.files-slider-item {
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.files-slider-item:hover {
  background-color: #f0f0f0;
}

.hide {
  display: none;
}