.accountContainer {
  padding: 30px;
  padding-top: 0;
}

.menuAccount {
  border-radius: 10px;
  width: 85%;
  margin: auto;
}

.updateForm {
  max-width: 400px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  margin-top: 80px;
}

.rounded-input {
  border-radius: 5px;
}
